name: Go CI

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
      - name: arduino/setup-task
        uses: arduino/setup-task@v2.0.0
      - name: Build
        run: task build
      - name: Test
        run: task test

  lint:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.4'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          args: --timeout 10m --config .golangci.yaml